# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/tinyTimer/v15/.suo
.vs/tinyTimer/v15/Browse.VC.db
.vs/tinyTimer/v15/ipch/b78f18b26e3f4caa.ipch
x64/Debug/tinyTimer.pdb
x64/Debug/tinyTimer.ilk
tinyTimer/x64/Debug/tinyTimer.log
tinyTimer/x64/Debug/tinyTimer.tlog/CL.command.1.tlog
tinyTimer/x64/Debug/tinyTimer.tlog/CL.read.1.tlog
tinyTimer/x64/Debug/tinyTimer.tlog/CL.write.1.tlog
tinyTimer/x64/Debug/tinyTimer.tlog/link.command.1.tlog
tinyTimer/x64/Debug/tinyTimer.tlog/link.read.1.tlog
tinyTimer/x64/Debug/tinyTimer.tlog/link.write.1.tlog
tinyTimer/x64/Debug/tinyTimer.tlog/tinyTimer.lastbuildstate
tinyTimer/x64/Debug/vc141.idb
tinyTimer/x64/Debug/vc141.pdb
